<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Check Instagramers</h1>
        <h3>Check how many followers are real</h3>
        <br>
        <form role="form" action="<%= instagramers_url %>" method="POST">
          <input type="hidden"
                 name="authenticity_token"
                 value="<%= form_authenticity_token %>">
          <div class="form-group">
            <input type="text"
                   class="form-control"
                   name="instagramer[username]">                 
          </div>
          <input type="submit"
                 class="btn btn-lg btn-dark"
                 value="Check Followers">
        </form>
    </div>
</header>

<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>