<div class="btn-group list-info-instagramer" role="group">
  <button type="button" class="btn btn-default btn-xl">
    Followers: <%= numFollowers %>
  </button>
  <button type="button" class="btn btn-default btn-xl">
    Invalids: <%= numInvalid %>
  </button>
</div>