<h1>Check Instagramers</h1>
<h3>Check how many followers are real</h3>
<br>
<form role="form">
  <div class="form-group">
    <input type="text"
           class="form-control"
           name="instagramer[username]"
					 data-toggle="tooltip" data-placement="right" title="You can perform the search now">                 
  </div>
  <input type="submit"
         class="btn btn-lg btn-dark"
         value="Check Followers">
</form>

<% if (hasToken) { %>
	<script type='text/javascript'>
	 $(function () {
	   $('[data-toggle="tooltip"]').tooltip('show')
	 })
	</script>
<% } %>