<h1>Check Instagramers</h1>
<h3>Check how many followers are real</h3>
<br>
<form role="form">
  <div class="form-group">
    <input type="text"
           class="form-control"
           name="instagramer[username]">                 
  </div>
  <input type="submit"
         class="btn btn-lg btn-dark"
         value="Check Followers">
</form>