<div class="col-xs-4">
	<h1>This is the result</h1>
	<div class="final-count"></div>
</div>
<div class="col-xs-4 invalids-container">
	<h3>These many are invalid users</h3>
	<ul class="followers">
	</ul>
</div>