<div class="row">
  <div class="col-xs-8 col-xs-offset-2 row">
    <div class="container-profile-picture col-xs-4">
      <img src="<%= instagramer.get('profile_picture') %>"
           class="img-thumbnail">
      <h3><%= instagramer.get('username')%></h3>
      <p>Bio: <%= instagramer.get('bio') %>
    </div>
    <div class="final-count col-xs-8">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3 invalids-container">
  	<h3>Invalid users</h3>
    <a href="/">Back</a>
  	<ul class="followers list-group">
  	</ul>
  </div>
</div>